@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

body {
    background-color: #1C1F26;
    color: #9FB0BF;
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    background-color: #424A59;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    color: #69758C;
    font-size: 14px;
  
  vertical-align: middle;
  line-height: normal;
}

nav a:hover {
    background-color: #1C1F26;
    color:  #424A59;
}
.content {
    text-align: center;
}

#btnCC {
    text-align: center;
    width: 70%;
    background-color: #424A59;
    color: #9FB0BF;
    height: 80px;
    border-radius: 10px;
    border: 0;
    box-shadow: 2px 2px aliceblue;
}

#btnCC:hover {
    background-color: #9FB0BF;
    color: #424A59;
}

.red {
    background-color: red;
    color: white;
}

.blue {
    background-color: blue;
    color: #9FB0BF;
}